    </div>
    <div class="footer-padding"></div>
        <div class="footer">
            <p>Made by Ritam Chakraborty</p>
            <a href="https://github.com/Ritam727/BlogWebsite"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/ritam.chakraborty.1671"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</body>
</html>